* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: wheat;
}

.card {
    width: 150px;
    height: 150px;
    background-color: aqua;
    position: relative;
    text-align: center;
    perspective: 1000px;
    transform-style: preserve-3d;
    transition: transform 0.8s;
    margin: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card.flip {
    transform: rotateY(180deg);
}

.front, .back {
    position: absolute;
    backface-visibility: hidden;
}

.back {
    transform: rotateY(180deg);
}

.container {
    max-width: 900px;
    margin: auto;
}

.card-grid {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
}

.header {
    display: grid;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #fff;
    padding: 10px;

}

.form-group {

}